@media (min-width: 1024px) {
  .store-main-nav {
    overflow: visible !important;
    position: relative;
  }

  .store-nav-mega {
    display: block;
  }
}

@media (max-width: 1023px) {
  .store-nav-mega {
    display: none;
  }
}


